* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  background: url("images/sikayet1.png") center/cover no-repeat;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0 10px;
}

.navbar {
  display: flex;
  padding: 22px 0;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}

.navbar .hamburger-btn {
  display: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
}

.navbar .logo {
  gap: 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar .logo img {
  width: 40px;
  border-radius: 50%;
}

.navbar .logo h2 {
  color: #fff;
  font-weight: 600;
  font-size: 1.7rem;
}

.navbar .links {
  display: flex;
  gap: 35px;
  list-style: none;
  align-items: center;
}

.navbar .close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  display: none;
  color: #000;
  cursor: pointer;
}

.navbar .links a {
  color: #265073;
  font-size: 22px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.1s ease;
}

.navbar .links a:hover {
  color: #19e8ff;
  border-bottom: 1px solid #4a4646;
  border-top: 1px solid #4a4646;
  font-size: 28px;
}
.navbar .login-btn {
  border: none;
  outline: none;
  background: #fff;
  color: #275360;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 18px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.15s ease;
}

.navbar .login-btn:hover {
  background: #ddd;
}

#app {
  max-width: 600px;
  margin: 0 auto;
}

form {
  margin-bottom: 20px;
}

label,
input,
textarea {
  display: block;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.complaint {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

.complaint button {
  background-color: #f44336;
  color: #fff;
  margin-left: 10px;
}
